@media screen and (max-width: 992px) {
  .main_page_content {
    font-size: 120px;
  }
  .second_line_navigation_button {
    font-size: 13px;
  }

  #register_password, #register_login, #register_fio,
  #register_email, #register_confirm_password {
    font-size: 13px;
  }

  #sign_in_login, #sign_in_password {
    font-size: 13px;
  }

  #register {
    width: 70%;
    font-size: 15px;
  }

  #sign_in {
    width: 50%;
    font-size: 15px;
  }
}

@media screen and (min-width: 993px) {
  .main_page_content {
    font-size: 180px;
  }
  .second_line_navigation_button {
    font-size: 17px;
  }
  #register_password, #register_login, #register_fio,
  #register_email, #register_confirm_password {
    font-size: 17px;
  }

  #sign_in_login, #sign_in_password {
    font-size: 17px;
  }

  #register {
    width: 55%;
    font-size: 20px;
  }

  #sign_in {
    width: 50%;
    font-size: 20px;
  }
}

.sections{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

a.second_line_navigation_button {
  color: black;
  text-decoration: none;
}

.second_line_navigation_button {
  border: 1px solid #C562FF;
  border-radius: 3px;
  color: black;
  padding: 5px;
  font-family: "Times New Roman", serif;
}

.second_line_navigation_button:hover{
  border: 1px solid #C562FF;
  border-radius: 3px;
  color: black;
  padding: 5px;
  font-family: "Times New Roman", serif;
  background-color: #FDA9FF;
}

.main_page_content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_page_gallery {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.gallery {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  flex-basis: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 300px;
  height: 300px;
}

.main_page_image {
  width: 30%;
  height: 80%;
}

figcaption {
  font-style: italic;
  font-size: 17px;
}

.body_footer_line {
  left: 0;
  right: 0;
  height: 1px;
  position: absolute;
  background-color: #CACFD2;
}

.table {
  display: flex;
  justify-content: center;
}

.table_frame {
  width: 70%;
}

#grid-table {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: center;
  gap: 0.5px;
}

.cell {
  display: flex;
  border: 1px solid grey;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.table_title_cell {
  font-size: 13px;
  background-color: #ECADFF;
  font-weight: bold;
  grid-column: span 8;
  align-self: end;
  height: 40px;
}

.title_cell {
  font-weight: bold;
  background-color: #CACFD2;
}

.active_mattresses_types {
  background-color: #D997FF;
}

.sign_form_container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 150px;
  height: 400px;
  justify-content: center;
}

.sing_in {
  display: flex;
  border: 3px solid #C562FF;
  border-radius: 5px;
  align-items: center;
  flex-basis: 40%;
  background-color: #F0CCF9;
  flex-direction: column;
}

.register_form_container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 150px;
  height: 600px;
  justify-content: center;
}

.register_account {
  display: flex;
  border: 3px solid #C562FF;
  border-radius: 5px;
  align-items: center;
  flex-basis: 40%;
  background-color: #F0CCF9;
  flex-direction: column;
}

#sign_in_login, #sign_in_password {
  width: 60%;
  height: 35px;
  border: 2px solid black;
  margin-bottom: 35px;
  border-radius: 5px;
}

 #register_password, #register_login, #register_fio,
 #register_email, #register_confirm_password {
   width: 60%;
   height: 35px;
   border: 2px solid black;
   margin-bottom: 35px;
   border-radius: 5px;
 }


#sign_in {
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#register {
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.register_title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.sign_in_title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
}
