.mail {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.contact_information{
  padding-top: 10px;
  padding-left: 20px;
}

.phone_info {
  font-size: 17px;
  font-weight: bold;
}

.contact_data {
  display: flex;
  flex-direction: column;
}

.contact_phone {
  display: flex;
}

.footer {
  position: absolute;
}
